.subject-line {
  display: grid;
  grid-template-columns: 5% 27% 9% 9% 15% 15% 20%;
  place-items: center;
  padding: 0.5rem 0;
  border: 1px solid black;
}

.subject-line.reg {
  background-color: lightblue;
}

.subject-line.apr {
  background-color: lightgreen;
}


.requirement {
  display: inline-block;
  padding: 0 1px;
  margin: 2px;
  border: 1px solid black;
  border-radius: 4px;
  min-width: 1rem;
  user-select: none;
  background-color: white;
}

.requirement.compliment {
  background-color: mediumspringgreen;
}