.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
} 

@media (prefers-reduced-motion: no-preference) {
  .App-logo.rotate{
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #40798C;
  min-height: 10.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.block-year {
  max-width: 1530px;
  margin: 0 auto
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 1530px;
}
